/* IMP: Apenas classes reutilizáveis aqui - separei em págs diferentes p/ organização apenas, porém não recomendado, gera muita requisição */

.section { 
    min-height: 100vh;
}

.white-bg {
    background-image: url('../images/FundoBranco.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    max-width: 120rem; /* 1200px */
    margin: 0 auto;
    padding: 10rem var(--gap); /* 100px var(--gap) */
}

/* .menu-spacing {
    height: 3.5vh;
} */