* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

h2:not(.redRocket-text) {
    font-family: 'Futura Bolder', sans-serif;
    font-size: 5rem;
    font-weight: 800;
}
