html { 
    font-size: 62.5%; /* Área Root(html) - Tamanho que padroniza aos pixels - Unid relativa */
    scroll-behavior: smooth; /* rolagem suave entre seções */
}

body {
    font-family: 'Futura Medium', sans-serif;
    height: 100%;
    font-size: 2rem; /* Usamos rem como pixel, equivale 16px */
}

/* HEADER */

.header-main {
    background-color: var(--yellow-color) ;
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
}

.redRocket-text {
    font-family: 'Dash Horizon', sans-serif;
    font-size: 5rem;
    color: var(--red-color);
    text-shadow: 2px 0 #DFDADA, -2px 0 #DFDADA, 0 2px #DFDADA, 0 -2px #DFDADA,
    1px 1px #DFDADA, -1px -1px #DFDADA, 1px -1px #DFDADA, -1px 1px #DFDADA,
   -2px 5px 4px rgba(51, 51, 51, 0.35);
    min-height: 11.5rem;
}

.home-bg .redRocket-text {
    font-size: 9.5rem;
}

.list-content {
    display: flex;
}

nav ul li a {
    display: block;
    padding: 2rem;
    color: var(--black-color);
    font-size: 2.2rem;
}

.purchase-btn {
    padding: 12px 44px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #0066B1;
    color: rgba(255, 255, 255, 0.8); 
}

/* HOME */

.home-bg {
    background-image: url('../images/FalloutHomeBackground.png');
    background-repeat: no-repeat;
    background-size: cover; /* Ajuste o percentual conforme necessário */
    background-position: center top;
    position: relative;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.home-bg .logo-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Move a imagem para o centro */
}

.redRocket-blueBackground{
    position: absolute;
    background-position: bottom left;
    bottom: 0;
    left: 0;
    width: 100%; /* Defina a largura desejada */
    background-image: url('../images/BackgroundRedRocket.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.redRocket-subtitle {
    font-size: 3rem;
    color: var(--white-color);
}

.redRocket-content {
    margin-top: 1.2rem;
}

.redRocket-blueBackground img {
    display: block;
    margin-bottom: -5px; /* Ajuste este valor conforme necessário */
}

/* ABOUT */

.about-flex {
    display: flex;
    align-items: center;    /* Opcional: Centraliza os itens no eixo vertical */
    justify-content: center; /* Opcional: Centraliza os itens no eixo horizontal */
}


