html { 
    font-size: 62.5%; /* Área Root(html) - Tamanho que padroniza aos pixels - Unid relativa */
    scroll-behavior: smooth; /* rolagem suave entre seções */
}

body {
    font-family: 'Futura Medium', sans-serif;
    height: 100%;
    font-size: 2rem; /* Usamos rem como pixel, equivale 16px */
}

@font-face {
    font-family: 'Dash Horizon';
    src: url('../fonts/Dash-Horizon-Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

.menu {
    background-color: var(--yellow-color) ;
    width: 100%;
    position: fixed;
    z-index: 10;
    top:0;
}

.menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    height: 11rem;
}

.menu-icon {
    visibility: hidden;
    position: absolute;
}

.home-bg .redRocket-text {
    font-size: 9.5rem;
}

.list-content {
    display: flex;
}

nav ul li a {
    display: block;
    padding: 1rem 2rem;
    color: var(--black-color);
    font-size: 2.2rem;
    text-decoration: none;
}

a.redRocket-text {
    display: block;
    text-decoration: none;
    margin-bottom: 2rem;
    /* line-height: 1.2; */
}

.purchase-btn {
    padding: 1.2rem 3.8rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: var(--blue-color);
    color: rgba(255, 255, 255, 0.8); 
}

.section.home-bg {
    min-height: 92vh;
}

/* HOME */

.home-bg {
    background-image: url('../images/FalloutMenuBackgroundDirt.png');
    background-repeat: no-repeat;
    /* background-size: cover; 
    background-position: center top; */
    position: relative;
    background-size: 100vw 92vh;
    margin-top: 8vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.home-bg .logo-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Move a imagem para o centro */
}

.redRocket-blueBackground{
    position: absolute;
    background-position: bottom left;
    bottom: 0;
    left: 0;
    width: 100%; /* Defina a largura desejada */
    background-image: url('../images/BackgroundRedRocket.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.redRocket-subtitle {
    font-size: 3rem;
    color: var(--white-color);
}

.redRocket-content {
    margin-top: 1.2rem;
}

.redRocket-blueBackground img {
    display: block;
    margin-bottom: -3px; /* Ajuste este valor conforme necessário */
}

/* ABOUT */

.section-flex {
    display: flex;
    align-items: center;    /* Opcional: Centraliza os itens no eixo vertical */
    justify-content: center;
    gap: 6rem;
    position: relative;
    min-height: 100vh;
}

.gameShowcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchaseButtonContent {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.purchaseButtonContent img {
    width: 7.5rem;
    height: 7.5rem;
}

.route66Icon {
    width: 16rem;
    position: absolute;
    top: 3rem;
    left: 0%;
    transform: rotate(-5deg); /* Ajuste o valor conforme necessário */
}

.NukaColaIcon {
    position: absolute;
    top: 3rem;
    right: 0%;
}

.gamePlatforms {
    display: flex;
    gap: 4rem;
}

.platformIconsHeight {
    height: 40px;
}

.pcGamerIconBorder {
    border: 1px solid var(--black-color);
    padding: 0.5rem;
}

/* SLIDER */

.slider {
    max-width: 100rem;
    margin: 3rem auto;
    width: 80vw;
    height: 50rem;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--red-color);
    border-radius: 0.4rem;
}

.slides {
    width: 400%; /* tamanho da div pai que irá ter todos os slides */
    height: 50rem;
    display: flex; /* para que as imagens fiquem uma ao lado da outra para serem reveladas */
    position: relative;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;  /* tamanho de cada div slide em relação a div pai "slides". Tamanho de 25% para que as 4 imagens sejam dividas igualmente resultando em 100% no total */
    position: relative;
    transition: 2s;
}

.slide img { 
    width: 80vw; /* Arrumo o tamanho da imagem para que esta caiba no espaço da div slide */
    height: 50rem;
}

.manual-navigation {
    position: absolute; /* Por padrão esta div está em baixo do carrosel, uso absolute como se fosse z-index para ficar acima da img e margin top negativa para trazer para dentro da imagem*/
    width: 100%;
    margin-top: -6rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 0.2rem solid var(--white-color);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px; /* aplica margem a direita a todos os botões menos no último  */
}

.manual-btn:hover {
    background-color: var(--white-color);
}

#radio1:checked ~ .first{ /* seleciona o irmão do elemento radio, que venha depois, no caso a div com a classe first. Por que isso? Pois se estiver ativo e for o primeiro, quero que começe no primeiro slide */
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%; /* leva 25% a menos para esquerda, como se estivesse deslocando a imagem negativamente para que a próxima apareça, como se fosse uma fita de imagens*/
}

#radio3:checked ~ .first {
    margin-left: -50%; 
}

#radio4:checked ~ .first {
    margin-left: -75%; 
}

.navigation-auto div {
    border: 0.2rem solid var(--blue-color);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 25%;
    margin-top: 44rem;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 4rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--white-color);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--white-color);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--white-color);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: var(--white-color);
}

/* KITCHEN */

.kitchen-bg {
    background-image: url('../images/FundoCozinhaMedio.png');
    background-repeat: no-repeat;
    background-size: 102vw 100%;
    position: relative;
}

.section.kitchen-bg {
    min-height: 1000px;
    z-index: 5;
}

.restaurantCounter {
    position: absolute;
    top: 62%;
    left: 50%;
    width: 60vw;
    height: 55vh;
    transform: translate(-50%, -50%);
    z-index: 2;
    min-height: 400px;
}

.mrsHandGif {
    position: absolute;
    top: 26%;
    left: 30%;
    width: 23vw;
    height: 45vh;
    z-index: 1;
    min-height: 400px;
}

.kitchenPosters {
    position: absolute;
    top: 3%;
    right: 0%;
    width: 28vw;
    height: 35vh;
    min-height: 255px;
}

.neonOpenSign {
    width: 14vw;
}

/* MUSIC */

#music .section-flex {
    gap: 24rem;
}

.falloutDiscoIcon {
    width: 15rem;
    position: absolute;
    top: 0%;
    left: 0%;
}

.musicalNoteIcon {
    width: 15rem;
    position: absolute;
    top: 0%;
    right: 0%;
}

.musicPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.description {
    margin-bottom: 1rem;
    max-width: 30rem;
}

.musicName{
    font-size: 2.8rem;
}

.artistName{
    font-size: 2.2rem;
}

.time {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.timeBar {
    width: 300px;
    height: 65px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    background-image: url('../images/radioSynthesizer.png');
    background-repeat: no-repeat;
}

progress {
    height: 52px;
    width: 0%;
    visibility: hidden;
}

.pointer {
    width: 5px;
    height: 54px;
    background-color: red;
    transform: translateY(-20%);
}

.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnPlay, .btnStop{
    font-size: 6.5rem;
    color: var(--yellow-color);
    cursor: pointer;
}

.btnStop {
    display: none;/* por no JS depois */
}

.arrow {
    font-size: 4.5rem;
    cursor: pointer;
}

.falloutBoySinging {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 18rem;
}

/* FOOTER */

.blueBackground {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.whiteLine {
    width: 100%;
    height: 0.01rem;
    background-color: var(--white-color);
}

footer div.main-content {
    position: relative;
    padding: 6rem 1rem; /* 100px var(--gap) */
}

.falloutLogoFooter {
    padding: 2rem 0rem;
}

.footerContentFlex {
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr;
    gap: 10rem;
    padding: 4rem 0rem;
}

.aboutCollaborators p, .collaboratorsFlex, footer nav ul li a  {
    font-family: 'FuturaT Ligh', sans-serif;
    font-size: 2rem;
    display: flex;
    padding: 2rem 0rem 0rem 0rem;
    gap: 12rem;
    color: var(--white-color);
    text-align: justify;
}

.socialBtnBackground {
    width: 5rem;
    height: 5rem;
}

.collaboratorsFlex a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 2rem 2rem 2rem 0rem; ;
}

.footerCertifieds {
    position: absolute;
    right: 1rem;
    bottom: 13.5rem;
}

.footerCertifieds img {
    height: 10rem;
}

footer .redRocket-text, .copyrightText {
    text-align: center;
}

footer .redRocket-text {
    margin-top: 6rem;
}

.copyrightText {
    padding-top: 2rem;
    font-size: 2.1rem;
    font-weight: 400;
}

/* ---------------- MEDIA QUERIES ---------------- */

/* Tablets e Celulares (TODOS) */
@media (max-width: 991px) {

    /* HEADER */
    .menu-content {
        justify-content: center;
        align-items: center;
    }

    .menu-icon {
        width: 4.5rem;
        height: 32px;
        position: absolute;
        top: 3.5rem;
        left: 3rem;
        border: none;
        padding: 0;
        visibility: visible;
        background-color: unset;
    }

    .icon {
        width: 40px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--blue-color);
        transition: .3s ease-in;
    }

    .icon::before, .icon::after {
        content: '';
        width: 40px;
        height: 4px;
        position: absolute;
        background-color: var(--blue-color);
        left: 0;
        transition: .3s ease-in;
    }

    .icon::after {
        top: 10px;
    }

    .icon::before {
        top: -10px;
    }

    .menu-icon[aria-expanded="true"] .icon {
        background: transparent;
        box-shadow: none;
    }
    
    .menu-icon[aria-expanded="true"] .icon::before {
        top: 0;
        transform: rotate(45deg);
    }
    
    .menu-icon[aria-expanded="true"] .icon::after {
        top: 0;
        transform: rotate(135deg);
    }
    
    .list-content {
        position: absolute;
        top: 11rem;
        width: 100%;      
        background-color: var(--blue-color);
        opacity: 98%;
        overflow-y: auto;
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 0.6s ease, opacity 0.6s ease;
    }

    .list-content.open {
        height: calc(100vh - 11rem); /* Definir um valor suficiente para acomodar o conteúdo */
        opacity: 0.98;
        overflow-y: auto;
    }

    nav ul li a {
        color: var(--white-color);
        font-size: 3.2rem;
    }

    .menu-content ul li {
        padding: 2rem;
    }

    .purchase-btn {
        background-color: var(--yellow-color);
        color: var(--black-color);
    }

    /* HOME */
    .home-bg {
        background-size: cover;
        background-position: center bottom;
    }

    .section-flex {
        flex-direction: column;
    }

     /* MUSIC */
    #music .section-flex {
        gap: 15rem;
    }

    #music .sectionTitle {
        margin-top: 2rem;
    }

    .falloutBoySinging {
        width: 18rem;
    }

}

/* Ajusta conteúdo sessão redRocket-blueBackground para  o fundo azul não ficar estranho ao trocar de tablets maiores para menores */
@media (max-width: 825px) {
    .redRocket-blueBackground {
        gap: 5rem;
        align-items: normal;
        background-color: rgba(0, 102, 177, 0.7);
        background-image: none;
    }

    .redRocket-content {
        margin-top: 0px;
    }

    .redRocket-blueBackground img {
        width: 230px;
    }

    .home-bg .redRocket-text {
        font-size: 7.8rem;
    }
}

/* Celulares Extra Pequenos (APENAS) */
@media (max-width: 360px) {

    .menu-icon {
        top: 2.5rem;
        left: 2rem;
    }

    .list-content.open {
        height: calc(100vh - 8rem);
    }

    /* HEADER */
    a.redRocket-text {
        font-size: 3.8rem;
    }

    .menu-content {
        height: 8rem;
    }

    .menu-icon::after {
        top: 2.5rem;
    }

    .menu-content ul {
        top: 8rem;
        /* height: calc(100vh - 8rem); */
    }

    /* HOME */
    .home-bg .redRocket-text {
        font-size: 4rem;
        min-height: 6.5rem; 
    }

    .redRocket-subtitle {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .home-bg .logo-img {
        width: 280px;
    }

    .redRocket-blueBackground {
        gap: 1rem;
    }

    .redRocket-blueBackground img {
        width: 120px;
    }
  
    /* ABOUT */
    .sectionTitle {
        font-size: 4rem;
    }

    .section-description {
        font-size: 2.2rem;
    }

    .purchaseButtonContent img {
        width: 6.5rem;
        height: 6.5rem;
    }

    .yellow-btn {
        padding: 2rem 2rem;
        width: 20rem;
        font-size: 1.8rem;
    }

    .tv {
        width: 305px;
    }

    .route66Icon {
        top: -2%;
        left: 0%;
        width: 10rem;
    }

    .NukaColaIcon {
        width: 10rem;
        top: 57.5%;
    }

    .pcGamerIconBorder {
        width: 5.5rem;
    }

    .gamePlatforms {
        gap: 1.5rem;
    }

    .platformIconsHeight {
        height: 2.5rem;
    }

    /* SLIDER */

    .slide img {
        width: 54rem;
        height: 50rem;
        object-fit: cover;
        object-position: center;
    }

    /* KITCHEN */
     .section.kitchen-bg {
        min-height: 100vh;
    }

    .kitchenPosters {
        position: absolute;
        top: 8%;
        right: 0%;
        width: 54vw;
        height: 32vh;
        min-height: 250px;
    }

    .neonOpenSign {
        width: 28vw;
    }

    .kitchen-bg {
        background-image: url(../images/FundoCozinhaPequeno.png);
        background-size: 170vw 100%;
    }

    .mrsHandGif {
        top: 25%;
        left: 9%;
        width: 50vw;
        height: 44vh;
    }

    .restaurantCounter {
        top: 60%;
        width: 99vw;
        height: 35vh;
    }

    /* MUSIC */
    .falloutDiscoIcon {
         width: 10rem;
         position: absolute;
         top: 0%;
         left: 0%;
    }

    .junkBox {
        width: 25rem;
    }

    .musicalNoteIcon {
        width: 10rem;
        position: absolute;
        top: 57%;
        right: 4%;
    }

    .discoIcon {
        width: 22rem;
    }

    /* FOOTER */
    footer div.main-content {
        padding: 4rem 2rem;
    }

    .footerContentFlex {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .footerCertifiedsFlex {
        display: flex;
        flex-direction: column;
    }

    .footerCertifieds {
        display: inline;
        position: initial;
    }

    .footerCertifieds img {
        height: 8rem;
    }

}

/* Celulares Pequenos até Médios (APENAS) */
@media (min-width: 361px) and (max-width: 479px) {

    /* HOME */
    .home-bg .logo-img {
        width: 280px;
    }

    .home-bg .redRocket-text {
        font-size: 4.8rem;
        min-height: 6.5rem;
    }

    .redRocket-subtitle {
        font-size: 2rem;
    }

    .redRocket-blueBackground {
        gap: 0.2rem;
    }

    .redRocket-blueBackground img {
        width: 150px;
    }

    /* ABOUT */
    .sectionTitle {
        font-size: 4.4rem;
    }

    .section-description {
        font-size: 2.4rem;
    }

    .tv {
        width: 360px;
    }

    .route66Icon {
        top: -2%;
        left: 4%;
        width: 10rem;
    }

    .NukaColaIcon {
        width: 10rem;
        top: 56.5%;
    }

    .yellow-btn {
        padding: 2.5rem 2rem;
        width: 20rem;
        font-size: 1.8rem;
    }

    .gamePlatforms {
        gap: 1.5rem;
    }

    .platformIconsHeight {
        height: 3rem;
    }

    img.pcGamerIconBorder {
        width: 5rem;
    }

    /* SLIDER */
    .slide img {
        height: 50rem;
        object-fit: cover;
        object-position: center;
    }

    /* KITCHEN */
    .section.kitchen-bg {
        min-height: 100vh;
    }

    .kitchenPosters {
        position: absolute;
        top: 6%;
        right: 0%;
        width: 58vw;
        height: 30vh;
        min-height: 230px;
    }

    .neonOpenSign {
        position: absolute;
        top: 6%;
        width: 28vw;
    }

    .kitchen-bg {
        background-size: 170vw 100%;
    }

    .mrsHandGif {
        top: 26%;
        left: 9%;
        width: 50vw;
        height: 40vh;
        min-height: 350px;
    }

    .restaurantCounter {
        top: 60%;
        width: 90vw;
        height: 34vh;
        min-height: 350px;
    }

    /* MUSIC */
    .falloutDiscoIcon {
        width: 12rem;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .musicalNoteIcon {
        width: 12rem;
        position: absolute;
        top: 55%;
        right: 4%;
    }

    .discoIcon {
        width: 25rem;
    }

    .junkBox {
        width: 92%;
    }

    /* FOOTER */
    footer div.main-content {
        padding: 6rem 3rem;
    }

    .footerContentFlex {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .footerCertifiedsFlex {
        display: flex;
        flex-direction: column;
    }

    .footerCertifieds {
        display: inline;
        position: initial;
    }

    .footerCertifieds img {
        height: 8rem;
    }
}

/* Celulares Grandes até Tablets Pequenos (APENAS) */
@media (min-width: 480px) and (max-width: 767px) {

    /* HEADER 
    .redRocket-text {
        min-height: 6.5rem; 
    } /*

    /* HOME */
    .home-bg .logo-img {
        width: 360px;
    }

    .redRocket-blueBackground {
        gap: 2.2rem;
    }

    .redRocket-blueBackground img {
        display: block;
        width: 180px;
    }

    .home-bg .redRocket-text {
        font-size: 6.4rem;
    }

    .redRocket-subtitle {
        font-size: 2.4rem;
    }

    /* ABOUT */
    .tv {
        width: 420px;
    }

    .yellow-btn {
        padding: 3rem 2.5rem;
        width: 23rem;
    }

    .purchaseButtonContent img {
        width: 8.5rem;
        height: 8.5rem;
    }

    .route66Icon {
        top: -2%;
        left: 4%;
        width: 10rem;
    }

    .NukaColaIcon {
        width: 12rem;
        top: 50.5%;
        right: 0%;
    }

    .gamePlatforms {
        gap: 1.5rem;
    }

    .platformIconsHeight {
        height: 3rem;
    }

    img.pcGamerIconBorder {
        width: 6.5rem;
    }

    /* SLIDER */

    .slide img {
        width: 120vw;
        height: 50rem;
    }
    
     /* KITCHEN */
     .section.kitchen-bg {
        min-height: 100vh;
    }

    .kitchenPosters {
        position: absolute;
        top: 5%;
        right: 0%;
        width: 58vw;
        height: 30vh;
        min-height: 235px;
    }

    .neonOpenSign {
        width: 28vw;
    }

    .kitchen-bg {
        background-size: 170vw 100%;
    }

    .mrsHandGif {
        top: 26%;
        left: 16%;
        width: 40vw;
        height: 40vh;
    }

    .restaurantCounter {
        top: 60%;
        width: 90vw;
        height: 35vh;
    }

    /* MUSIC */
    .falloutDiscoIcon {
        width: 12rem;
        position: absolute;
        top: 0%;
        left: 4%;
    }

    .musicalNoteIcon {
        width: 12rem;
        position: absolute;
        top: 52%;
        right: 4%;
    }

    /* FOOTER */

    footer div.main-content {
        padding: 6rem 3rem;
    }

    .footerContentFlex {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .footerCertifiedsFlex {
        display: flex;
        flex-direction: column;
    }

    .footerCertifieds {
        display: inline;
        position: initial;
    }

    .footerCertifieds img {
        height: 8rem;
    }

    footer .redRocket-text {
        margin: 3rem 0rem;
    }
}

/* Tablets Grandes (APENAS) */
@media (min-width: 768px) and (max-width: 991px) {

    /* HEADER 
    .redRocket-text {
        min-height: 6.5rem;
} */

    /* HOME */
    .home-bg .logo-img {
        width: 500px;
    }

     /* ABOUT */
    /*  #about .main-content {
        padding: 10rem 9rem;
    }
    */

    .yellow-btn {
        padding: 3.5rem 3rem;
    }

    .purchaseButtonContent img {
        width: 9.5rem;
        height: 9.5rem;
    }

    .route66Icon {
        width: 13rem;
        top: -3rem;
        left: 4%;
    }

    .NukaColaIcon {
        top: 40.5%;
        width: 16rem;
        right: 0%;
    }

    .gamePlatforms {
        gap: 3.5rem;
    }

    /* KITCHEN */
    .section.kitchen-bg {
        min-height: 100vh;
    }

    .kitchenPosters {
        position: absolute;
        top: 3%;
        right: 0%;
        width: 50vw;
        height: 32vh;
        min-height: 255px;
    }

    .neonOpenSign {
        width: 20vw;
    }

    .kitchen-bg {
        background-size: 170vw 100%;
    }

    .mrsHandGif {
        top: 20%;
        left: 18%;
        width: 35vw;
        height: 50vh;
    }

    .restaurantCounter {
        top: 60%;
        width: 90vw;
        height: 50vh;
    }

    /* MUSIC */
    .falloutDiscoIcon {
        width: 14rem;
        position: absolute;
        top: 0%;
        left: 4%;
    }

    .musicalNoteIcon {
        width: 14rem;
        position: absolute;
        top: 52%;
        right: 4%;
    }

    /* FOOTER */
    .footerContentFlex {
        display: grid;
        gap: 6rem;
    }

    footer .redRocket-text {
        margin: 3rem 0rem;
    }

    .aboutCollaborators p, .collaboratorsFlex, footer nav ul li a {
        gap: 6rem;
    }
}

/* Telas Desktop Pequenas (APENAS) */
@media (min-width: 992px) and (max-width: 1200px) {
   
    /* ABOUT */
    .sectionTitle {
        font-size: 3.8rem;
    }

    .section-description {
        font-size: 2rem;
        margin: 3rem 0rem;
    }

    .section-flex {
        gap: 5rem;
    }

    .tv {
        width: 545px;
    }

    .route66Icon {
        top: 3.5rem;
        width: 155px;
    }

    .NukaColaIcon {
        top: 3.5rem;
        width: 155px;
    }

    .yellow-btn {
        padding: 2.5rem 2.5rem;
    }

    /* KITCHEN */
    .section.kitchen-bg {
        min-height: 100vh;
    }

    .kitchenPosters {
        position: absolute;
        top: 3%;
        right: 0%;
        width: 40vw;
        height: 32vh;
        min-height: 255px;
    }

    .neonOpenSign {
        width: 20vw;
    }

    .mrsHandGif {
        top: 20%;
        left: 24%;
        width: 28vw;
        height: 50vh;
    }

    .restaurantCounter {
        top: 60%;
        width: 70vw;
        height: 50vh;
    }

    /* MUSIC */
    .falloutDiscoIcon {
        width: 13rem;
    }

    .musicalNoteIcon {
        width: 13rem;
    }

    #music .section-flex {
        gap: 15rem;
    }

    #music .sectionTitle {
        margin-top: 2rem;
    }
    
    /* FOOTER */
    .aboutCollaborators p, .collaboratorsFlex, footer nav ul li a {
        gap: 6rem;
    }
}

/* Em telas menores que 805px é bloqueado o diminuimento da sessão da cozinha, para que as imagens não respeitem 100vh e para que não encolha demais a sessão */
@media (max-height: 805px) {
    .section.kitchen-bg {
        min-height: 805px; /* Altura mínima em pixels para telas menores */
    }
}
